<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>牛津兄弟</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

<!-- Slider
    ================================================== -->
<link href="css/owl.carousel.css" rel="stylesheet" media="screen">
<link href="css/owl.theme.css" rel="stylesheet" media="screen">


<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/animate.min.css">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/modernizr.custom.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="preloader">
  <div id="status"> <img src="img/background/1c.jpg" height="0" width="0" alt=""> </div>
</div>
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <div class="row">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> 
          <span class="icon-bar"></span> 
          <span class="icon-bar"></span> 
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand" href="index.html">
          <img src="img/head.png" class="img-responsive" alt="Project Title"> 
        </a> 
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home" class="page-scroll">主页</a></li>
          <li><a href="#works-section" class="page-scroll">服务</a></li>
          <li><a href="#about-section" class="page-scroll">关于</a></li>
          <li><a href="#team-section" class="page-scroll">团队</a></li>
          <li><a href="#testimonials-section" class="page-scroll">客户</a></li>
          <li><a href="#services-section" class="page-scroll">资料</a></li>
          <li><a href="#contact-section" class="page-scroll">联系我们</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse --> 
    </div>
  </div>
  <!-- /.container-fluid --> 
</nav>

<!-- Header -->
<header class="text-center" name="home">
  <div class="intro-text">
    <h1 class="wow fadeInDown"> <span class="color">专注 </span><span color="#FFFFFF">让我们更 </span><span class="color">专业</span></h1>
    <p class="wow fadeInDown"><span color="#FFFFFF">选择</span><span class="color">Oxbros</span><span color="#FFFFFF">， 让我们为您开启世界顶尖名校之旅</span></p>
    <!-- <a href="#works-section" class="btn btn-default btn-lg page-scroll wow fadeInUp" data-wow-delay="200ms">产品</a>  -->
  </div>
</header>

<!-- Services Section -->
<!-- <div id="services-section" class="text-center">
  <div class="container">
    <div class="section-title wow fadeInDown">
      <h2><strong>我们的服务</strong></h2>
      <hr>
      <div class="clearfix"></div>
    </div>
    <div class="space"></div>
    <div class="row">
      <div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="200ms"> <i class="fa fa-desktop"></i>
        <h4><strong>面试辅导</strong></h4>
      </div>
      <div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="400ms"> <i class="fa fa-gears"></i>
        <h4><strong>申请辅导</strong></h4>
      </div>
      <div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="600ms"> <i class="fa fa-bullhorn"></i>
        <h4><strong>文书修改</strong></h4>
      </div>
      <div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="800ms"> <i class="fa fa-rocket"></i>
        <h4><strong>咨询服务</strong></h4>
      </div>
    </div>
  </div>
</div> -->
<!-- Portfolio Section -->
<div id="works-section" class="text-center">
  <div class="container"> <!-- Container -->
    <div class="section-title wow fadeInDown">
      <h2><strong>我们的服务</strong></h2>
      <hr>
      <div class="clearfix"></div>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li><a href="#" data-filter="*" class="active">所有</a></li>
            <li><a href="#" data-filter=".web">申请辅导</a></li>
            <li><a href="#" data-filter=".app">文书修改</a></li>
            <li><a href="#" data-filter=".branding">咨询服务</a></li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
            <div class="hover-bg"> <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>Interview</h4>
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="img/background/3.1.1.a.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="400ms">
            <div class="hover-bg"> <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>MAT/PAT/TSA</h4>
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="img/background/3.1.4.a.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="600ms">
            <div class="hover-bg"> <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>Oxbridge VIP</h4>
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="img/background/3.1.2.a.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="800ms">
            <div class="hover-bg"> <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>Oxbridge Tutorial</h4>
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="img/background/3.1.3.a.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 app">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="1000ms">
            <div class="hover-bg"> <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>Personal statement</h4>
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="img/background/3.2.1.a.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 app">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="1200ms">
            <div class="hover-bg"> <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>CV</h4>
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="img/background/3.2.2.a.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 branding">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="1400ms">
            <div class="hover-bg"> <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>升学辅导</h4>
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="img/background/3.3.1.a.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 branding">
          <div class="portfolio-item wow fadeInUp" data-wow-delay="1600ms">
            <div class="hover-bg"> <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
              <div class="hover-text">
                <h4>职业规划</h4>
                <div class="clearfix"></div>
                <i class="fa fa-plus"></i> </div>
              <img src="img/background/3.3.2.a.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- About Section -->
<div id="about-section">
  <div class="container">
    <div class="section-title text-center wow fadeInDown">
      <h2><strong>关于我们</strong></h2>
      <hr>
      <div class="clearfix"></div>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p> -->
    </div>
    <div class="row">
      <div class="col-md-6 wow fadeInLeft"> <img src="img/about.png" class="img-responsive"> </div>
      <div class="col-md-6 wow fadeInRight">
          <h4>Who We Are</h4>
          <p>牛津兄弟于2011年7月由13名牛津在读本科生在深圳创立。经过了近5年的发展，我们现在已经拥有了超过50人的精英教学团队。</p>
          <div class="space"></div>
          <h4>What We Do</h4>
          <p>我们致力于为客户量身定做最具针对性的升学辅导计划。 我们已和国内不同地区的近十所国际学校及预科中心建立合作关系， 同时我们服务也在英国当地A-level学校中获得广泛的欢迎。
</p>
          <div class="space"></div><div class="list-style">
            <div class="row">
              <div class="col-lg-6 col-sm-6 col-xs-12">
                <ul>
                  <li>团队成员100%来自牛剑</li>
                  <li>80%以上教师曾获first class</li>
                  <li>7位top first（年级第一）</li>
                  <li>VIP客户申请成功率超过50%</li>
                </ul>
              </div>
              <div class="col-lg-6 col-sm-6 col-xs-12">
                <ul>
                  <li>十年面试真题</li>
                  <li>多年辅导经验</li>
                  <li>专业团队自编教案</li>
                  <li>超过10门热门专业</li>
                </ul>
              </div>
            </div>
          </div>     
      </div>
    </div>
  </div>
</div>
<!-- Team Section -->
<div id="team-section" class="text-center">
  <div class="container">
    <div class="section-title wow fadeInDown">
      <h2><strong>我们的团队</strong></h2>
      <hr>
      <div class="clearfix"></div>      
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p> -->
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="200ms">
        <div class="thumbnail"> <img src="img/team/3.jpg" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>陈逸云</h3>
            <p>牛津大学材料专业本科三年级学生，在牛津材料系期末考试中获得年级第四。对材料学知识见解独特，讲解方法深入浅出，广受家长和学生欢迎。所指导学生有四个被牛津材料系录取。</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="400ms">
        <div class="thumbnail"> <img src="img/team/1.jpg" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>王冠杰</h3>
            <p>牛津大学工程专业三年级学生，大学期间期末考试一直保持一等荣誉成绩。拥有超过两年丰富的教育相关工作经验，成功指导六名学生考入牛剑。擅长激发学生潜力，面试指导深受学生认可。</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="600ms">
        <div class="thumbnail"> <img src="img/team/2.jpg" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>张思思</h3>
            <p>牛津大学数学与统计专业二年级学生，获牛津大学本科三年全额奖学金。高中IB总分全球TOP1％，高中期间曾任学校升学指导助理，曾辅导过近30名学生，认真负责，深受学生爱戴和称赞。</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="800ms">
        <div class="thumbnail"> <img src="img/team/04.jpg" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>刘雪迎</h3>
            <p>牛津大学商学院本科学生，大一年终考试获得Top First。熟悉牛津剑桥笔试面试流程，教学风格严谨细致，擅长写作，并能依据学生个人能力为学生提供更具个性化的全方位申请辅导</p>
          </div>
        </div>
      </div>
<!--       <div class="collapse" id="collapseExample">
        <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="200ms">
          <div class="thumbnail"> <img src="img/team/04.jpg" alt="..." class="img-circle team-img">
            <div class="caption">
              <h3>陈逸云</h3>
              <p>牛津大学材料专业本科三年级学生，Oxbros材料组负责人。A-level成绩A*A*A*A。在牛津材料系期末考试中获得年级第四。对材料学知识见解独特，讲解方法深入浅出，广受家长和学生欢迎。所指导学生有四个被牛津材料系录取</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="400ms">
          <div class="thumbnail"> <img src="img/team/04.jpg" alt="..." class="img-circle team-img">
            <div class="caption">
              <h3>陈逸云</h3>
              <p>牛津大学材料专业本科三年级学生，Oxbros材料组负责人。A-level成绩A*A*A*A。在牛津材料系期末考试中获得年级第四。对材料学知识见解独特，讲解方法深入浅出，广受家长和学生欢迎。所指导学生有四个被牛津材料系录取</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="600ms">
          <div class="thumbnail"> <img src="img/team/04.jpg" alt="..." class="img-circle team-img">
            <div class="caption">
              <h3>陈逸云</h3>
              <p>牛津大学材料专业本科三年级学生，Oxbros材料组负责人。A-level成绩A*A*A*A。在牛津材料系期末考试中获得年级第四。对材料学知识见解独特，讲解方法深入浅出，广受家长和学生欢迎。所指导学生有四个被牛津材料系录取</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="800ms">
          <div class="thumbnail"> <img src="img/team/04.jpg" alt="..." class="img-circle team-img">
            <div class="caption">
              <h3>陈逸云</h3>
              <p>牛津大学材料专业本科三年级学生，Oxbros材料组负责人。A-level成绩A*A*A*A。在牛津材料系期末考试中获得年级第四。对材料学知识见解独特，讲解方法深入浅出，广受家长和学生欢迎。所指导学生有四个被牛津材料系录取</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="1000ms">
          <div class="thumbnail"> <img src="img/team/04.jpg" alt="..." class="img-circle team-img">
            <div class="caption">
              <h3>陈逸云</h3>
              <p>牛津大学材料专业本科三年级学生，Oxbros材料组负责人。A-level成绩A*A*A*A。在牛津材料系期末考试中获得年级第四。对材料学知识见解独特，讲解方法深入浅出，广受家长和学生欢迎。所指导学生有四个被牛津材料系录取</p>
            </div>
          </div>
        </div>
      </div> -->
    </div>
<!--     <div class="row">
      <div class="team wow fadeInUp" data-wow-delay="800ms">
        <a role="button" class="btn btn-default" aria-label="Left Align" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <span id="morebutton" class="fa fa-angle-down fa-3x"> </span>
        </a>
      </div>
    </div> -->
  </div>
</div>
<!-- Testimonials Section -->
<div id="testimonials-section" class="text-center">
  <div class="container">
    <div class="section-title wow fadeInDown">
      <h2><strong>我们的客户说</strong> </h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div id="testimonial" class="owl-carousel owl-theme wow fadeInUp" data-wow-delay="200ms">
          <div class="item">
            <p>我在放暑假的时候老师推荐了我Oxbros的课程。 在一对多的辅导中， 负责化学的是焦雪学姐， 为人十分和善， 在短短的两三次辅导中清晰的将牛津化学面试的考点展示给我们， 课上一部分内容是A-level大纲之外的。 对我们的帮助十分大。 最让我受益的是模拟面试。现在回想起来， 几乎是还原了真正面试的情景。 通过老师们细致的讲解。 我明白了牛津面试最重要的是展示思考过程。Oxbros可以说是一个牛津面试大题库， 我在balliol college面试的时候就非常幸运地押中了前两道题目。 让我在面试前段获得看很大的自信。 使得后面的面试更加顺利。 我对Oxbros在面试前的帮助感到衷心的感谢。</p>
            <p><strong>Daniel</strong>, 化学系</p>
          </div>
          <div class="item">
            <p>我听说Oxbros时， 已近临近面试了， 牛津面试的形式是“在教授指导下当场解题”。 在我之前所知道的面试辅导培训中， 老师往往拿以往的面试题来福岛， 不但数量很少而且很不具有代表性。 当我看到郎赛灵学姐总结归纳的面试题时， 立刻被吸引住了。 面试题被系统地分类， 并配以它们备考到的概率。 我甚至还没参加培训就感觉心里底气壮了很多。而Oxbros最吸引我的在于它还提供了面试前一周的全天候集训。 在学姐的帮助下， 我很好的调整到了自己的最佳状态。在平时课程中，身在英国的学长学姐们更是配合中国时区给我单独上课， 不论昼夜， 让我感受到了Oxbros家庭版的氛围。希望用我的奖励帮助更多的人。</p>
            <p><strong>Kelvin</strong>, 工程系</p>
          </div>
          <div class="item">
            <p>报名Oxbros VIP之后，深刻感受到相比于自己无头绪地复习，听Oxbros老师分模块地讲解效率更高，侧重点更明显。无论是MAT还是面试，许多问题都涵盖在了讲解的知识点中。课程内容还包括面试模拟，最后一次模拟是在牛津进行的，主要针对ps中的内容以及现场做题，和真实面试形式完全相同，可以发现漏洞并及时弥补，使我更好地提前进入面试状态，发挥自己的水平。还要感谢伍振华学长为我介绍学院的概况以及教授们的特点，因为他们是牛津大学的在读学生，对于牛津各个方面情况都十分了解，可以给予最有的放矢的帮助。感谢Oxbros让我梦想成真！</p>
            <p><strong>陈泓霖</strong>，数学系</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Infomation Section -->
<div id="services-section" class="text-center">
  <div class="container">
    <div class="section-title wow fadeInDown">
      <h2><strong>相关资料</strong></h2>
      <hr>
      <div class="clearfix"></div>
    </div>
    <div class="space"></div>
    <div class="row">
      <div class="col-md-6 col-sm-6 service wow fadeInUp" data-wow-delay="200ms"> 
        <img src="img/oxford.png" class="col-md-3 col-sm-3 img-responsive">
        <div class="col-md-5 col-sm-5">
          <ul>
            <li><a href="https://www.ox.ac.uk/sites/files/oxford/UGP2017entry_Introduction_2.pdf"><i class="fa fa-file-pdf-o"></i><strong> Introduction</strong></a></li>
            <li><a href="https://www.ox.ac.uk/sites/files/oxford/UGP2017entry_Courses_2.pdf"><i class="fa fa-file-pdf-o"></i><strong> Courses</strong></a></li>
            <li><a href="https://www.ox.ac.uk/sites/files/oxford/UGP2017entry_Colleges_2.pdf"><i class="fa fa-file-pdf-o"></i><strong> Colleges</strong></a></li>
            <li><a href="https://www.ox.ac.uk/sites/files/oxford/UGP2017entry_FindingOutMore_2.pdf"><i class="fa fa-file-pdf-o"></i><strong> Finding out more</strong></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 service wow fadeInUp" data-wow-delay="400ms"> 
        <img src="img/cambridge.png" class="col-md-3 col-sm-3 img-responsive">
        <div class="col-md-5 col-sm-5">
          <ul>
            <li><a href="http://www.undergraduate.study.cam.ac.uk/sites/www.undergraduate.study.cam.ac.uk/files/publications/cambridge_undergraduate_prospectus_2017_entry_welcome_section.pdf"><i class="fa fa-file-pdf-o"></i><strong> Introduction</strong></a></li>
            <li><a href="http://www.undergraduate.study.cam.ac.uk/sites/www.undergraduate.study.cam.ac.uk/files/publications/cambridge_undergraduate_prospectus_2017_entry_courses_section.pdf"><i class="fa fa-file-pdf-o"></i><strong> Courses</strong></a></li>
            <li><a href="http://www.undergraduate.study.cam.ac.uk/sites/www.undergraduate.study.cam.ac.uk/files/publications/cambridge_undergraduate_prospectus_2017_entry_colleges_section.pdf"><i class="fa fa-file-pdf-o"></i><strong> Colleges</strong></a></li>
            <li><a href="http://www.undergraduate.study.cam.ac.uk/sites/www.undergraduate.study.cam.ac.uk/files/publications/cambridge_undergraduate_prospectus_2017_entry_details_section.pdf"><i class="fa fa-file-pdf-o"></i><strong> Finding out more</strong></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact Section -->
<div id="contact-section" class="text-center">
  <div class="container">
    <div class="section-title wow fadeInDown">
      <h2><strong>联系我们</strong></h2>
      <hr>
      <p>如果您有任何疑问或需求，请根据以下联系方式联系我们。</p>
    </div>
    <div class="col-md-8 col-md-offset-2 wow fadeInUp" data-wow-delay="200ms">
      <div class="col-md-3"> <i class="fa fa-map-marker fa-2x"></i>
        <p>深圳市福田区中康路8号雕塑家园1808</p>
      </div>
      <div class="col-md-3"> <i class="fa fa-envelope-o fa-2x"></i>
        <p>oxbrosedu@hotmail.com</p>
      </div>
      <div class="col-md-3"> <i class="fa fa-phone fa-2x"></i>
        <p>0755-23764385</p>
      </div>
      <div class="col-md-3"> <i class="fa fa-weixin fa-2x"></i>
        <p>oxbrosedu</p>
      </div>
      <div class="clearfix"></div>
    </div>
<!--     <div class="col-md-8 col-md-offset-2 wow fadeInUp" data-wow-delay="400ms">
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-github"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div> -->
  </div>
</div>
<div id="footer">
  <div class="container">
      <p>深圳市牛津兄弟信息咨询有限公司 粤ICP备16003803号</p>
  </div>
</div>

<!-- Portfolio Modals --> 
<!-- Use the modals below to showcase details about your portfolio projects! --> 

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
            <h2>Interview</h2>
            <img class="img-responsive img-centered" src="img/background/3.1.1.a-preview.jpg" alt="">
            <p>全英文模拟面试及全方位面试反馈，让申请者更加从容地在面试中发挥出自己的水平。100%还原面试现场，100%面试真题解析。</p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> 关闭 </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
            <h2>CV</h2>
            <img class="img-responsive img-centered" src="img/background/3.2.2.a-preview.jpg" alt="">
            <p>实习、全职、跳槽，专家级团队协助打造最适合申请者的CV，从此不再为申请文书而苦恼。</p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> 关闭 </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
            <h2>Oxbridge VIP</h2>
            <img class="img-responsive img-centered" src="img/background/3.1.2.a-preview.jpg" alt="">
            <p>
            为学生度身订做的一对一VIP课程一直以来都是牛津兄弟的王牌产品。高度的私人订制方案，灵活的时间安排，精心编排的课程涵盖了牛剑本科申请的全部内容，在最大程度上满足学生的需求。
           	</p>
           	<p>Highlight 1: Flexibility
			牛津兄弟的VIP课程的与众不同之处在于师生之间的交流与反馈。老师会根据每位学生不同的解题思路，进一步引导学生，培养其独立思考的能力并不断完善答案。这样的授课模式不仅模仿了牛剑的面试过程，更能让学生在逻辑思维、推理想象、以及对知识点的灵活运用方面得到快速的提高。
			</p>
			<p>Highlight 2: Dedication 
			在教师的分配方面，数学和工程的VIP专业课讲解采取了模块化的教学模式。十几名专业老师组成一个教学团队，每一个教学模块由一至两位老师负责。每位老师在其负责的模块中将会更加专注。
			</p>
			<p>
			Highlight 3: Customisation
			模仿牛津剑桥的导师系统，牛津兄弟将会为每位学生安排一位教学经验丰富的导师，随时跟进学生的上课进度，接受学生的反馈。此外，牛津兄弟为VIP学生备有最全面、最详细的课程教纲，我们将会根据学生个人情况与需求调整课时安排，订制个性化的独家课程。
			</p>
            <p> 
            课程安排：共计20个课时，内容包括申请流程介绍、个人陈述、笔试及面试培训、模拟面试及面试反馈等所有与牛剑申请有关的细节。
            </p>
            <p> 
            授课方式：线上一对一视频上课形式（如果教师与学生在同一城市，可以依据师生双方的时间尽量安排线下面对面授课）。
            </p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> 关闭 </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
            <h2>Oxbridge Tutorial</h2>
            <img class="img-responsive img-centered" src="img/background/3.1.3.a-preview.jpg" alt="">
            <p>
            借鉴牛津大学及剑桥大学特有的Tutorial形式授课，2-3人一班，精品小班教学，让课堂更有气氛，同班同学互相帮助、良性竞争、共同进步。较普通的大课而言，老师在每个学生身上分配的时间更多，效果更好。
            </p>
            <p>
            Highlight 1: Sharing
			由于课堂规模小，每个学生都可以得到老师针对性的帮助，定制属于自己的发展规划。几位同学在表达自己想法的过程中能够共享经验，得到提高，更可以从老师对同学提出的质疑和引导中，不断完善自己的观点。Tutorial的优势就在于思维的互换。三人行必有我师，Tutorial将会带领你在专业老师的辅导与优秀学生的讨论中建立一个更加成熟的知识体系。
            </p>
            <p>
            Highlight 2: Inclusion
			在课余时间，老师会组织文娱活动，让学生从中了解大学生活点滴，感受英国求学的风情与文化，为大学的学习和生活做好充足的准备。整套课程设计帮助学生在文化知识和心理素质方面得到有效统一的提高，使学生在发展考试技巧的同时做到心态平衡，在面试中能够更加稳定自信地展现自我。
            </p>
            <p>
            课程内容：针对牛剑本科入学笔试及面试设计，在其知识点及相关技巧方面进行针对性的辅导与培训。所有课程将通过讲座、小班辅导以及一对一等形式进行，从而使学生在学术上、心理上对即将来临的笔试及面试做好充足的准备！ 
            </p>
            <p>
            课程安排：课程的核心之一为针对性的知识讲解，针对牛津剑桥录取所需掌握的知识进行精心的设计，之后再予以生动的方式呈现授予给学生，每讲一个知识点之后都会有面试例题解析，让学生充分了解自己报名牛剑所需掌握的每个点。此课程为Tutorial小课形式，因此能够随时提问使每个学生更容易理解所授予的内容。  
            </p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> 关闭 </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
            <h2>Personal statement</h2>
            <img class="img-responsive img-centered" src="img/background/3.2.1.a-preview.jpg" alt="">
            <p>结合专业申请重点与申请者的个人经历，打造专属的个人简历，包括专业改写和语言润色，就此迈出人生赢家的第一步。</p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> 关闭 </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
            <h2>升学辅导</h2>
            <img class="img-responsive img-centered" src="img/background/3.3.1.a-preview.jpg" alt="">
            <p>综合申请者综合能力和专业选择偏好以及未来职业规划，帮助申请者做好升学计划，就此迈出人生赢家的第一步。</p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> 关闭 </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 7 -->
<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
            <h2>职业规划</h2>
            <img class="img-responsive img-centered" src="img/background/3.3.2.a-preview.jpg" alt="">
            <p>从行业分析到市场前景，从申请到跳槽，职场精英通过丰富的经验和亲身经历为准备步入社会的求职者提供全方位的职业规划及咨询服务。</p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> 关闭 </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 8 -->
<div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
            <h2>MAT/PAT/TSA</h2>
            <img class="img-responsive img-centered" src="img/background/3.1.4.a-preview.jpg" alt="">
            <p>对申请中的笔试环节，让申请者在笔试中脱颖而出，顺利拿到面试邀请。精心整理题库及教材，剖析核心知识点，重点难点讲解，模拟笔试及分析讲解。</p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> 关闭 </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script> 
<script type="text/javascript" src="js/jquery.1.11.1.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
<!-- <script type="text/javascript" src="js/SmoothScroll.js"></script>  -->
<script type="text/javascript" src="js/wow.min.js"></script> 
<!-- <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>  -->
<script type="text/javascript" src="js/jquery.isotope.js"></script> 
<script type="text/javascript" src="js/jqBootstrapValidation.js"></script> 
<script type="text/javascript" src="js/contact_me.js"></script> 
<script type="text/javascript" src="js/owl.carousel.js"></script> 

<!-- Javascripts
    ================================================== --> 
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>